@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot');
    src: url('../fonts/vazir.ttf') format('truetype'), url('../fonts/vazir.woff2') format('woff2'), url('../fonts/vazir.woff') format('woff');
}

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'vazir';
    direction: rtl;
    height: 100vh;
    overflow: hidden;
}

header {
    background-color: #000077;
    color: #fff;
    padding: 50px;
    text-align: center;
}

header h1 {
    font-size: 40px;
    margin-bottom: 30px;
}

section p {
    padding: 30px 100px;
    font-size: 20px;
}

.pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto;
    margin-bottom: 50px;
}

.pic img {
    object-fit: cover;
    width: 100%;
}

#sidebar {
    background-color: darkblue;
    width: 15%;
    height: 100vh;
    padding-top: 50px;
    position: absolute;
    top: 0;
    left: -15%;
    transition: left .4s ease-in-out;
}

#sidebar.active {
    left: 0;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    display: block !important;
}

ul li {
    display: flex;
    justify-content: center;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

ul li:hover {
    background-color: #00005f;
    cursor: pointer;
}

.btn {
    background-color: #72209b;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 20px;
    right: -40px;
    cursor: pointer;
}

.btn svg {
    color: #fff;
    font-size: 20px;
    animation: fa-spin 3s infinite linear;
}